.signup-card {
  max-width: 500px; /* Increased width */
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better aesthetics */
}
.login-card {
    max-width: 500px; /* Increased width */
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better aesthetics */
  }
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  .buttons-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: stretch;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .signup-button {
    width: 100%; // Make the signup button as wide as the card
  }
  
  .divider-container {
    display: flex;
    align-items: center;
    margin: 20px 0; /* Spacing around the divider */
  }
  
  .divider-container mat-divider {
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .divider-text {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
  }
  .signup-terms {
    font-size: 0.8rem;
    color: gray;
    margin-top: 10px;
    text-align: center;
  }